/*******************************************************
*   Cascading Style Sheets (CSS) Style Definitions     *
*   Created by Osman Balci for the HealthSurvey app.   *
*   Edited by Conner Owens for the Jobs4Geeks app.     *
*******************************************************/

html, body {
    background-color: snow;
    margin: 0 0 0 0;    /* top right bottom left */
    width: 100%;        /* Set page width horizontally 100% */
    height: 100%;       /* Set page height vertically 100% */
}

body, p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: midnightblue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: midnightblue;
    display: inline;
}

/*
=======================================
|   Site Template Component Styling   |
=======================================

In XHTML code, we refer to a CSS style defined in a CSS file by using Selectors.

See CSS Selector Reference at https://www.w3schools.com/cssref/css_selectors.asp

#id         defines the style of a page component whose unique identification is id.
.stylename  defines the style of all elements marked as class="stylename".

Since ids are unique, the #id styling is used only once.
.stylename can be used many times to style a class of elements.

Style the div component whose unique id is "page"
<div id="page"> in siteTemplate
*/
#page {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
/*
Style the div component whose unique id is "header"
<div id="header"> in siteTemplate
*/
#header {
    background-color: lightsteelblue;
    width: 100%;
    height: 84px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin-bottom: 16px;
}
/*
Style the div component whose unique id is "editableContent"
<div id="editableContent"> in siteTemplate
*/
#editableContent {
    /* height = 100% window height - (header height 84px + footer height 100px) */
    height: calc(100% - 184px);
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-bottom: 16px;
}
/*
Style the div component whose unique id is "footer"
<div id="footer"> in siteTemplate
*/
#footer {
    height: 100px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
==========================
|   Styling Hyperlinks   |
==========================
The <a> tag defines a hyperlink.
Hyperlinks (or links) are styled differently depending on what state they are in:
    a:link      - normal state (unvisited link)
    a:visited   - visited state (link clicked on by user earlier)
    a:hover     - mouse over state (link when the user hovers over it)
    a:active    - active state (link currently clicked on by user)
*/

/* Set the font family for the standard HTML tag "a" for hyperlinks */
a {
    font-family: Arial, Helvetica, sans-serif
}

a:link {
    text-decoration: none; /* Do not underline the link in normal state */
}

a:visited {
    text-decoration: none; /* Do not underline the link in visited state */
}

a:hover {
    text-decoration: underline; /* Underline the link in hover state */
}

a:active {
    text-decoration: underline; /* Underline the link in active state */
}

/*
================================
|   Vertical Navigation Menu   |
================================
Used in Profile
*/
/* Style class for <ul> */
.verticalMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: lightsteelblue;
    border: 1px solid darkgray;

}

/* Style class for <li> */
.verticalMenuItem {
    text-align: left;
    border-bottom: 1px solid darkgray;
}

/* Style class for <li> and the <a> tag that defines a hyperlink */
.verticalMenuItem a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;  /* Do not underline the hyperlink */
}

/* Style class for <ul>, <li> and <a> hyperlink tag */
.verticalMenu, .verticalMenuItem a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
}

/* Style class for <li> last-child */
.verticalMenuItem:last-child {
    border-bottom: none;
}

/* Style class for <li> for mouse over state */
.verticalMenuItem a:hover {
    background-color: lightskyblue;
}

/*
===============================
|   Other Style Definitions   |
===============================
*/

/* Used in headerTemplate */
.headerTitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 18pt;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    color: mediumblue;
}

/* Style p:panelGrid Column 1 */
.panelGridColumn1 {
    text-align: right;
    white-space: nowrap;        /* Disallow line break */
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: whitesmoke !important;
}

/* Style p:panelGrid Column 2 */
.panelGridColumn2 {
    text-align: left;
    white-space: nowrap;        /* Disallow line break */
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: white !important;
}

/* Style heading text used in About and UserGuide */
.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    color: darkgreen;
}

/* Style standard text and input text field text */
.standardText, .inputTextField {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
}

/* Used in CreateAccount, EditAccount, SignIn, EnterUsername, and SecurityQuestion */
.inputTextField {
    width: 275px;
}

/* Used in Profile and About pages to style person's photo in a circle */
.profilePhoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Used in QuestionnairesTaken to style user's small photo in a circle */
.smallProfilePhoto {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
}

/*
Proportionately scale image to show on mobile devices and smaller browser windows.
Scale the image downward, but do not enlarge it beyond its actual width size.
*/
.scalableImage {
    max-width: 100%;
    height: auto;
    border: none;
}

/* Scrolls text vertically */
.scrollableTextBox {
    display: block;
    text-align: left;
    width: 300px;
    height: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    overflow-wrap: break-word;
}

/*
=================================
Skinning PrimeFaces UI Components
=================================
*/

/* PrimeFaces dataTable row paddings */
.ui-datatable-data td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

/* Used in TakeSurvey to color panel backgrounds */
.ui-panel-content {
    background-color: snow !important;
}

/* Override PrimeFaces style definition for the fileUpload component */
.ui-fileupload {
    width: 80%;
}

.ui-fileupload-buttonbar {
    /* padding values are specified in clockwise: Top, Right, Bottom, and Left */
    padding: 0 0 8px 0 !important;
}

.ui-fileupload-content {
    /* The drag-and-drop area height will increase as more files are dropped */
    min-height: 200px;
}
